.logo{
    width: 5%;
    height: auto;
}

.logo-font{
    font-family: 'Montserrat';
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 3%;
}

.my-navbar{
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.my-navbar-item{
    font-family: 'Inter';
    color: black;
    font-weight: bold;
    line-height: 1.15;
}

.intro-header{
    font-family: 'Poppins';
    font-size: 64px;
    font-weight: 600;
    color: black;
    margin-top: 125px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 10%;
}

.intro-image{
    max-width: 100%;
    height: auto;
    margin-top: 125px;
    margin-right: 10%;
    border-radius: 6px;
}

.standard-button{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 6px;
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: 210px;
}

.contact-button{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 6px;
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: 20px;
}

.intro-cards{
    background-color: #375EE0;
    margin-top: 0px;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    overflow-x: hidden;
    --bs-gutter-x: 0rem;
}

.intro-cards-item{
    background-color: white;
    margin-bottom: 0px;
    padding-right: 0px;
    width: fit-content;
    overflow-x: hidden;
}

.footer{
    background-color: black;
    color: white;
    bottom: 0;
    left:0;
    right:0;
    position:static;
}

.logo-footer{
    width: 5%;
    height: auto;
    margin-top: 40px;
    margin-left: 5%;
}

.logo-font-footer{
    font-family: 'Montserrat';
    margin-left: 1%;
    width: 50px;
    height:auto;
    margin-top: 50px;
    line-height: 50px;
}

.footer-content{
    display: flex;
    align-items: center;
}

.content-font-footer{
    font-family: 'Montserrat';
    margin-top: 10px;
    margin-left: 5%;
}

.socials-buttons{
    display: inline-block;
    border: none;
    padding: 0px;
    background: rgb(64, 64, 64);
    cursor: pointer;
    color:red;
    border-radius: 6px;
    margin-left: 1%;
    margin-bottom: 20px;
}

.socials-images{
    width: 50px;
    border-radius: 6px;
}

.about-header{
    margin-left: 6%;
    margin-top: 2%;
    font-family: 'Poppins';
}

.about-content{
    margin-left: 6%;
    margin-top: 1%;
    font-family: 'Poppins';
}

.about-card{
    display: block;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.about-card-area{
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 6%;
}

.about-card-text{
    color:black;
    font-family: 'Poppins';
}

.about-card-image{
    height: 200px;
    width:auto;
}

.program{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 200px;
    margin-bottom: 40px;
}

.program-card{
    border-radius: 10px;
    height:max-content;
    margin-bottom: 10px;
}

.program-header{
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px;
}

.program-name{
    margin-right: 20px;
}

.program-button {
    background-color:#375EE0;
    border: none; /* Remove borders */
    color: white; /* White text color */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer; /* Cursor pointer on hover */
    border-radius: 69px;
}

.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.active, .accordion:hover{
    background-color: #ccc;
}

  
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}

.application-section{
    margin-left: 10%;
    margin-right: 10%;
    background-color:white;
    display: flex;
    align-items: center;
}

.application-heading{
    font-size: 300%;
    color: black;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px;
    margin-top: 2%;
    flex: 1;
}

.application-deadline{
    color:red;
    margin-left: 10%;
    margin-right: 10%;
}

.application-text{
    margin-left: 10%;
    margin-right: 10%;
}

/*about page styling*/
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}
  
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
.container {
    padding: 0 16px;
}
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.row{
    margin-left: 5%;
    margin-right: 5%;
}
  
.title {
    color: grey;
}

/**/