.logo{
    width: 5%;
    height: auto;
}

.logo-font{
    font-family: 'Montserrat';
}

.my-navbar{
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.my-navbar-item{
    font-family: 'Inter';
    color: black;
    font-weight: bold;
    line-height: 1.15;
}

.intro-header{
    font-family: 'Poppins';
    font-size: 64px;
    font-weight: 600;
    color: black;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 40%;
}

.standard-button{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 6px;
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: 210px;
}

.contact-button{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 6px;
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: 20px;
}

.my-section{
    margin-top: 150px;
    background-color: #375EE0;
}

.footer{
    background-color: black;
    color: white;
}

.logo-footer{
    width: 5%;
    height: auto;
    margin-top: 40px;
    margin-left: 5%;
}

.logo-font-footer{
    font-family: 'Montserrat';
    margin-left: 1%;
    width: 50px;
    height:auto;
    margin-top: 50px;
    line-height: 50px;
}

.footer-content{
    display: flex;
    align-items: center;
}

.content-font-footer{
    font-family: 'Montserrat';
    margin-top: 10px;
    margin-left: 5%;
}

.socials-buttons{
    display: inline-block;
    border: none;
    padding: 0px;
    background: rgb(64, 64, 64);
    cursor: pointer;
    color:red;
    border-radius: 6px;
    margin-left: 1%;
}

.socials-images{
    width: 50px;
    border-radius: 6px;
}

.about-header{
    margin-left: 6%;
    margin-top: 2%;
    font-family: 'Poppins';
}

.about-content{
    margin-left: 6%;
    margin-top: 1%;
    font-family: 'Poppins';
}

.about-card{
    display: block;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.about-card-area{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 6%;
}

.about-card-text{
    color:black;
    font-family: 'Poppins';
}

.get-started-header{
    font-family: 'Poppins';
    font-size: 64px;
    font-weight: 600;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 40%;
}